@(isAuthenticated: Boolean)

@main("stravoski") {

	@if(!isAuthenticated){
    
    <h1>Stravoski uses Strava API to connect to your account</h1>
    <p>By authorizing an application you are still under Strava's Terms of Service</p>
    
	<p>Amongst other things, this application will be able to:</p>
	<ul>
		<li>Access your name, location and email address</li>
		<li>Access your activity data</li>
		<li>Display public data related to those activities</li>
		<li>Read your public profile data</li>
	</ul>
	
	<p>This application will not be able to:</p>
	
	<ul>
		<li>Upload activities for you</li>
		<li>See private data on your activities</li>
		<li>Post comments or kudos for you</li>
		<li>Change your profile information</li>
	</ul>
	
<form class="form-vertical">
  <fieldset>
    <legend>Continue with login</legend>

	<div class="form-group">
		<button id="logInWithStrava" class="btn btn-primary btn-lg">
			<img alt="Log In With Strava" src="/assets/images/LogInWithStrava@@2x.png">
		</button>
	</div>
	</fieldset>
	</form>
	<script type="text/javascript">
		document.getElementById("logInWithStrava").onclick = function() {
			location.href = "/login";
			return false;
			};
	</script>
	} else {
	<div ng-controller="ActivitiesCtrl">
    	<ul ng-repeat="activity in activities" class="list-group">
      		<li class="list-group-item">
      			<span class="badge">{{activity.distance}} km</span>
      			{{activity.name}}
      			</li>
    	</ul>
  	</div>	
	
	}

}
