	@(isAuthenticated: Boolean)

@main("stravoski") {
<div class="col-md-8">
	@if(!isAuthenticated){
    
    <h2>Stravoski uses Strava API to connect to your account</h2>
    <p>By authorizing an application you are still under Strava's Terms of Service</p>
    
	<div class="panel panel-success">
  		<div class="panel-heading">
    		<h3 class="panel-title">Amongst other things, this application will be able</h3>
  		</div>
  		<div class="panel-body">
			<p>Access your name, location and email address</p>
			<p>Access your activity data</p>
			<p>Display public data related to those activities</p> 
			<p>Read your public profile data</p>
  		</div>
	</div>
	
	<div class="panel panel-warning">
  		<div class="panel-heading">
    		<h3 class="panel-title">This application will not be able</h3>
  		</div>
  		<div class="panel-body">
	    	<p>Upload activities for you</p>
			<p>See private data on your activities</p>
			<p>Post comments or kudos for you</p>
			<p>Change your profile information</p>
  		</div>
	</div>
	
	
<form class="form-vertical">
  <fieldset>
    <legend>Continue with login</legend>

	<div class="form-group">
		<button id="logInWithStrava" class="btn btn-primary btn-lg">
			<img alt="Log In With Strava" src="/assets/images/LogInWithStrava@@2x.png">
		</button>
	</div>
	</fieldset>
	</form>
	<script type="text/javascript">
		document.getElementById("logInWithStrava").onclick = function() {
			location.href = "/login";
			return false;
			};
	</script>
	} else {
	<div ng-controller="ActivitiesCtrl" class="panel panel-default">
	  <div class="panel-heading">Your activities</div>
	  <div class="panel-body">
	   	<ul ng-repeat="activity in activities" class="list-group">
      		<li class="list-group-item">
      			<span class="badge">{{activity.distance / 1000 | number:2}} km</span>
      			<a ng-click="modalDialogActivityDetails(activity)">{{activity.name}}</a>
      			</li>
    	</ul>
      </div>
  	</div>	
	}
</div>
 <div class="col-md-4">
 @if(isAuthenticated){

	<div ng-controller="AthleteCtrl" class="panel panel-default">
		  <div class="panel-heading">Skiing profile</div>
		  <div class="panel-body">
		    <p>Skiing seasons {{0}}<br/>
		    Skied {{0.0}} km in current season,<br/>
		    {{0.0}} km in last season and {{statistics.totalDistance | number:2}} km from beginning.</p>
		    <p>Longest skiing day at {{statistics.longestDayDate | date}} with {{statistics.longestDay | number:2}} km</p>
		  </div>
	</div> 	
 	}
</div>

}
