@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	    <link rel='stylesheet' href='/assets/stylesheets/bootstrap.min.css'>
	    <link rel='stylesheet' href='/assets/stylesheets/main.css'>
	    <script type='text/javascript' src='/assets/javascripts/bootstrap.js'></script>
	    <script type='text/javascript' src='/assets/javascripts/stravoskiscripts.js'></script>
	    <script type='text/javascript' src='/assets/javascripts/ng-map.min.js'></script>
	    <script type='text/javascript' src="http://maps.google.com/maps/api/js?libraries=geometry"></script>

    </head>
    <body ng-app="StravoSki">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.4";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

    <div ng-controller="TopCtrl" id="wrap">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">@title</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav navbar-right" ng-show="showTopMenu">
		        <li><a href="https://www.strava.com/" target="new">Strava.com</a></li>
		        <li class="dropdown">
		          <img class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-src="{{statistics.profile_medium}}"/>
		          <ul class="dropdown-menu">
		            <li><a href="/logout">Logout</a></li>
		            <li><a href="/removeme">Remove my account</a></li>
		            <li><a href="#" ng-click="doSyncWithStrava()" data-toggle="tooltip" title="We believe that you do not need to touch this and we are doing our best to automate syncronization with Strava, but if you are sure that something is missed you can try to force your Strava ski activities syncronization with Stravoski service">Re-Sync*</a></li>
		          </ul>
		        </li>
		      </ul>
			</div>
		  </div>
		</nav>
	    <div class="container">
		    <div class="row">
	        @content
	        </div>
	    </div>

    </div>
    
    <div id="footer">
      <div class="container">
      	<div class="col-xs-2">
	      	<h4 class="footertext">About</h4>
	      	<p><a ng-click="contactText = false;issueText = false;aboutText = true;">Project</a></p>
			<p><a ng-click="aboutText = false;issueText = false;contactText = true;">Contact Us</a></p>
	      	<p><a ng-click="aboutText = false;contactText = false;issueText = true;">Report an issue</a></p>
      	</div>
      	<div class="col-xs-10">
      		<p ng-show="aboutText" class="footertext">STRAVOSKI is Web client for <a href="strava.com">Strava</a> users with dedication to alpine skiing. Strava itself is wonderful application but generally targeting to cyclists and runners. Here is an attempt to utilize Strava potential for alpine skiing. This app works with Strava API and collects activities marked as Alpine Ski. Collected activities are analyzed and lifts are deducted from total distance. Deduction is done on altitude analysis so it may be not really accurate now.</p>
      		<p ng-show="aboutText" class="footertext">All trademarks displayed are property of their respective owners</p>
      		<p ng-show="aboutText" class="footertext">STRAVOSKI is an <a href="https://github.com/vovsad/stravoski">open source project</a> by <a href="info@@stravoski.com">Volodymyr Sadovyy</a></p>
      		<p ng-show="contactText" class="footertext">Please fill free to contact us through email info@@stravoski.com.</p>
      		<p ng-show="issueText" class="footertext">Report issue with <a href="https://github.com/vovsad/stravoski/issues/new">GitHub</a>. Yes, probably it is a bit weird but GitHub allows to track issues as well and I do not see appropriate, free and already hosted system.</p>
      	</div>
      </div>
    </div>

    </body>
</html>
